#navbar{
    flex-direction: column;

}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}



#home{
    height: 370px;
    padding: 3px 28px;
    


}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}
#services{
flex-direction: column;


}
#clients{
    flex-wrap: wrap;

}
#clients image{
    width: 66px ;
    padding: 56px;
}
#clientsection::before{
    height: 100%;
}
.hprimary{
    font-size: 26px;
}
.primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding-bottom: 4px 8px;
}
#contactbox form{
    width: 84%;
}
#services .box{ 
    border: 2px solid brown;
    padding: 14px;
    margin: 2px 0px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}